*{
    box-sizing: border-box;
}
html{
    margin:0;
    padding:0;
}

.navbar-brand:hover,
.nav-link:hover{
    color:yellow;
}

.container-fluid:hover h1,
.container-fluid:hover h3{
    color:aquamarine;
}
